html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-color: #000;
  --light-color: #fff;
  --error-color: rgb(240 100 100);
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.woff2') format('woff2');
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
  background-color: var(--light-color);
}

.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.error {
  border: 2px var(--error-color) solid;
}

.chat__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  min-height: 530px;
  width: 100%;
  gap: 8px;
}

.chat__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.chat__dialogue {
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  border: 1px solid var(--dark-color);
  padding: 8px;
}

.chat__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chat__link {
  padding: 6px 8px;
  border: 1px solid var(--dark-color);
}

.chat__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.chat__input {
  padding: 6px 8px;
  border: 1px solid var(--dark-color);
  line-height: 16px;
}

.chat__message {
  flex-grow: 1;
}

.chat__send {
  background-color: transparent;
}
